<h1>Inicio Sesion</h1>
<hr />
<form method="post">
    <label class="form-label">Usuario:</label>
    <input type="text" class="form-control" name="userName"/>
    <label class="form-label">Contraseña:</label>
    <input type="text" class="form-control" name="password"/>
    <br />
    <button class="btn btn-outline-dark">Log In</button>
</form>

<h4>@ViewBag.Mensaje</h4>